[submodule "codeLearn/LS/Unit3/WEB3.3/webreactTest"]
	path = codeLearn/LS/Unit3/webreactTest
	url = https://github.com/everestsh/webreactTest
[submodule "codeLearn/LS/Unit3/WEB3.2/D1_test/web-guided-project-reducer"]
	path = codeLearn/LS/Unit3/WEB3.2/D1_test/web-guided-project-reducer
	url = git@github.com:sooof/web-guided-project-reducer.git
[submodule "codeLearn/LS/Unit3/WEB3.2/D2_test/web-guided-project-redux"]
	path = codeLearn/LS/Unit3/WEB3.2/D2_test/web-guided-project-redux
	url = git@github.com:sooof/web-guided-project-redux.git
[submodule "codeLearn/LS/Unit3/WEB3.2/D3_test/web-guided-project-async-redux"]
	path = codeLearn/LS/Unit3/WEB3.2/D3_test/web-guided-project-async-redux
	url = git@github.com:sooof/web-guided-project-async-redux.git
[submodule "codeLearn/LS/Unit3/WEB3.2/D4_test/tmp/web-guided-project-context"]
	path = codeLearn/LS/Unit3/WEB3.2/D4_test/tmp/web-guided-project-context
	url = git@github.com:sooof/web-guided-project-context.git
[submodule "codeLearn/LS/Unit3/WEB3.1/D3_work/web-guided-project-custom-hook"]
	path = codeLearn/LS/Unit3/WEB3.1/D3_work/web-guided-project-custom-hook
	url = git@github.com:sooof/web-guided-project-custom-hook.git
[submodule "codeLearn/LS/Unit3/WEB3.1/D4_work/web-guided-project-testing-web-apps"]
	path = codeLearn/LS/Unit3/WEB3.1/D4_work/web-guided-project-testing-web-apps
	url = git@github.com:sooof/web-guided-project-testing-web-apps.git
[submodule "codeLearn/LS/Unit2/WEB2.3/Day1/web-guided-project-react-router"]
	path = codeLearn/LS/Unit2/WEB2.3/Day1/web-guided-project-react-router
	url = git@github.com:sooof/web-guided-project-react-router.git
[submodule "codeLearn/LS/Unit2/WEB2.3/Day1/React-Router-Movies"]
	path = codeLearn/LS/Unit2/WEB2.3/Day1/React-Router-Movies
	url = git@github.com:sooof/React-Router-Movies.git
[submodule "codeLearn/LS/Unit2/WEB2.3/Day2/web-guided-project-form-management"]
	path = codeLearn/LS/Unit2/WEB2.3/Day2/web-guided-project-form-management
	url = git@github.com:sooof/web-guided-project-form-management.git
[submodule "codeLearn/LS/Unit2/WEB2.3/Day2/team-builder"]
	path = codeLearn/LS/Unit2/WEB2.3/Day2/team-builder
	url = git@github.com:sooof/team-builder.git
[submodule "codeLearn/LS/Unit2/WEB2.3/Day3/web-guided-project-components-1"]
	path = codeLearn/LS/Unit2/WEB2.1/20210929/web-guided-project-components-1
	url = git@github.com:sooof/web-guided-project-components-1.git
[submodule "codeLearn/LS/Unit3/WEB3.3/Day1/web-guided-project-testing-react"]
	path = codeLearn/LS/Unit3/WEB3.3/Day1/web-guided-project-testing-react
	url = git@github.com:sooof/web-guided-project-testing-react.git
[submodule "codeLearn/LS/Unit3/WEB3.2/D2_test/Car-Sales"]
	path = codeLearn/LS/Unit3/WEB3.2/D2_test/Car-Sales
	url = git@github.com:sooof/Car-Sales.git
[submodule "codeLearn/LS/Unit3/WEB3.3/Day2/web-guided-project-client-auth"]
	path = codeLearn/LS/Unit3/WEB3.3/Day2/web-guided-project-client-auth
	url = git@github.com:sooof/web-guided-project-client-auth.git
[submodule "codeLearn/LS/Unit3/WEB3.3/Day3/web-guided-project-HTTP"]
	path = codeLearn/LS/Unit3/WEB3.3/Day3/web-guided-project-HTTP
	url = git@github.com:sooof/web-guided-project-HTTP.git
[submodule "codeLearn/LS/Unit3/WEB3.3/DaySprint/web-sprint-challenge-advanced-web-applications"]
	path = codeLearn/LS/Unit3/WEB3.3/DaySprint/web-sprint-challenge-advanced-web-applications
	url = git@github.com:sooof/web-sprint-challenge-advanced-web-applications.git
[submodule "codeLearn/LS/Unit2/WEB2.3/DaySprint/web-sprint-challenge-single-page-applications"]
	path = codeLearn/LS/Unit2/WEB2.3/DaySprint/web-sprint-challenge-single-page-applications
	url = git@github.com:sooof/web-sprint-challenge-single-page-applications.git
[submodule "codeLearn/LS/Unit2/WEB2.3/Day4/github-usercard"]
	path = codeLearn/LS/Unit2/WEB2.1/20210930/github-usercard
	url = git@github.com:sooof/github-usercard.git
[submodule "codeLearn/LS/Unit2/WEB2.3/Day4/web-guided-project-components-2"]
	path = codeLearn/LS/Unit2/WEB2.1/20210930/web-guided-project-components-2
	url = git@github.com:sooof/web-guided-project-components-2.git
[submodule "codeLearn/LS/Unit2/WEB2.3/Day3/Newsfeed-Components"]
	path = codeLearn/LS/Unit2/WEB2.1/20210929/Newsfeed-Components
	url = git@github.com:sooof/Newsfeed-Components.git
[submodule "codeLearn/LS/Unit2/WEB2.3/Day3/web-guided-project-advanced-forms"]
	path = codeLearn/LS/Unit2/WEB2.3/Day3/web-guided-project-advanced-forms
	url = git@github.com:sooof/web-guided-project-advanced-forms.git
[submodule "codeLearn/LS/Unit2/WEB2.3/Day3/User-Onboarding"]
	path = codeLearn/LS/Unit2/WEB2.3/Day3/User-Onboarding
	url = git@github.com:sooof/User-Onboarding.git
[submodule "codeLearn/LS/Unit2/WEB2.3/Day4/web-guided-project-cypress"]
	path = codeLearn/LS/Unit2/WEB2.3/Day4/web-guided-project-cypress
	url = git@github.com:sooof/web-guided-project-cypress.git
[submodule "codeLearn/LS/Unit2/WEB2.3/Day4/Cypress-Testing"]
	path = codeLearn/LS/Unit2/WEB2.3/Day4/Cypress-Testing
	url = git@github.com:sooof/Cypress-Testing.git
[submodule "codeLearn/LS/Unit2/WEB2.2/Day5_sprint/web-sprint-challenge-intro-to-react"]
	path = codeLearn/LS/Unit2/WEB2.2/Day5_sprint/web-sprint-challenge-intro-to-react
	url = git@github.com:sooof/web-sprint-challenge-intro-to-react.git
[submodule "codeLearn/LS/Unit3/WEB3.1/D1_work/web-module-project-class-components"]
	path = codeLearn/LS/Unit3/WEB3.1/D1_work/web-module-project-class-components
	url = git@github.com:everestsh/web-module-project-class-components.git
[submodule "codeLearn/LS/Unit3/WEB3.1/D1_work/web-guided-project-class-components"]
	path = codeLearn/LS/Unit3/WEB3.1/D1_work/web-guided-project-class-components
	url = git@github.com:everestsh/web-guided-project-class-components.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.1/Day1/web-guided-project-class-components"]
	path = codeLearn/LS/Unit3-w49/WEB3.1/Day1/web-guided-project-class-components
	url = git@github.com:everestsh/web-guided-project-class-components.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.1/Day1/web-module-project-class-components"]
	path = codeLearn/LS/Unit3-w49/WEB3.1/Day1/web-module-project-class-components
	url = git@github.com:sooof/web-module-project-class-components.git
[submodule "codeLearn/LS/Unit3/WEB3.1/D2_work/web-guided-project-lifecycle"]
	path = codeLearn/LS/Unit3/WEB3.1/D2_work/web-guided-project-lifecycle
	url = git@github.com:sooof/web-guided-project-lifecycle.git
[submodule "codeLearn/LS/Unit3/WEB3.1/D2_work/web-module-project-lifecycle"]
	path = codeLearn/LS/Unit3/WEB3.1/D2_work/web-module-project-lifecycle
	url = git@github.com:everestsh/web-module-project-lifecycle.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.1/Day2/web-module-project-lifecycle"]
	path = codeLearn/LS/Unit3-w49/WEB3.1/Day2/web-module-project-lifecycle
	url = git@github.com:sooof/web-module-project-lifecycle.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.1/Day3/web-module-project-custom-hook"]
	path = codeLearn/LS/Unit3-w49/WEB3.1/Day3/web-module-project-custom-hook
	url = git@github.com:sooof/web-module-project-custom-hook.git
[submodule "codeLearn/LS/Unit3/WEB3.1/D3_work/web-module-project-custom-hook"]
	path = codeLearn/LS/Unit3/WEB3.1/D3_work/web-module-project-custom-hook
	url = git@github.com:everestsh/web-module-project-custom-hook.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.1/Day4/web-module-project-testing-web-apps"]
	path = codeLearn/LS/Unit3-w49/WEB3.1/Day4/web-module-project-testing-web-apps
	url = git@github.com:sooof/web-module-project-testing-web-apps.git
[submodule "codeLearn/LS/Unit3/WEB3.1/D4_work/web-module-project-testing-web-apps"]
	path = codeLearn/LS/Unit3/WEB3.1/D4_work/web-module-project-testing-web-apps
	url = git@github.com:everestsh/web-module-project-testing-web-apps.git
[submodule "codeLearn/LS/Unit3/WEB3.1/DSpint_work/web-sprint-challenge-advanced-react"]
	path = codeLearn/LS/Unit3/WEB3.1/DSpint_work/web-sprint-challenge-advanced-react
	url = git@github.com:everestsh/web-sprint-challenge-advanced-react.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.1/DaySprint/web-sprint-challenge-advanced-react"]
	path = codeLearn/LS/Unit3-w49/WEB3.1/DaySprint/web-sprint-challenge-advanced-react
	url = git@github.com:sooof/web-sprint-challenge-advanced-react.git
[submodule "codeLearn/LS/Unit3/WEB3.2/D1_test/web-module-project-reducer"]
	path = codeLearn/LS/Unit3/WEB3.2/D1_test/web-module-project-reducer
	url = git@github.com:everestsh/web-module-project-reducer.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.2/Day1/web-module-project-reducer"]
	path = codeLearn/LS/Unit3-w49/WEB3.2/Day1/web-module-project-reducer
	url = git@github.com:sooof/web-module-project-reducer.git
[submodule "codeLearn/LS/Unit3/WEB3.2/D2_test/web-module-project-redux"]
	path = codeLearn/LS/Unit3/WEB3.2/D2_test/web-module-project-redux
	url = git@github.com:everestsh/web-module-project-redux.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.2/Day2/web-module-project-redux"]
	path = codeLearn/LS/Unit3-w49/WEB3.2/Day2/web-module-project-redux
	url = git@github.com:sooof/web-module-project-redux.git
[submodule "codeLearn/LS/Unit3/WEB3.2/D3_test/web-module-project-async-redux"]
	path = codeLearn/LS/Unit3/WEB3.2/D3_test/web-module-project-async-redux
	url = git@github.com:everestsh/web-module-project-async-redux.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.2/Day3/web-module-project-async-redux"]
	path = codeLearn/LS/Unit3-w49/WEB3.2/Day3/web-module-project-async-redux
	url = git@github.com:sooof/web-module-project-async-redux.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.2/Day4/web-module-project-context"]
	path = codeLearn/LS/Unit3-w49/WEB3.2/Day4/web-module-project-context
	url = git@github.com:sooof/web-module-project-context.git
[submodule "codeLearn/LS/Unit3/WEB3.2/DSpint_work/web-sprint-challenge-advanced-state-management"]
	path = codeLearn/LS/Unit3/WEB3.2/DSpint_work/web-sprint-challenge-advanced-state-management
	url = git@github.com:everestsh/web-sprint-challenge-advanced-state-management.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.2/DaySprint/web-sprint-challenge-advanced-state-management"]
	path = codeLearn/LS/Unit3-w49/WEB3.2/DaySprint/web-sprint-challenge-advanced-state-management
	url = git@github.com:sooof/web-sprint-challenge-advanced-state-management.git
[submodule "codeLearn/LS/Unit3/WEB3.3/Day1/web-module-project-testing-react"]
	path = codeLearn/LS/Unit3/WEB3.3/Day1/web-module-project-testing-react
	url = git@github.com:everestsh/web-module-project-testing-react.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.3/DAY1/web-module-project-testing-react"]
	path = codeLearn/LS/Unit3-w49/WEB3.3/DAY1/web-module-project-testing-react
	url = git@github.com:sooof/web-module-project-testing-react.git
[submodule "codeLearn/LS/Unit3/WEB3.3/Day2/web-module-project-client-auth"]
	path = codeLearn/LS/Unit3/WEB3.3/Day2/web-module-project-client-auth
	url = git@github.com:everestsh/web-module-project-client-auth.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.3/DAY2/web-module-project-client-auth"]
	path = codeLearn/LS/Unit3-w49/WEB3.3/DAY2/web-module-project-client-auth
	url = git@github.com:sooof/web-module-project-client-auth.git
[submodule "codeLearn/LS/Unit3/WEB3.3/Day3/web-module-project-HTTP"]
	path = codeLearn/LS/Unit3/WEB3.3/Day3/web-module-project-HTTP
	url = git@github.com:everestsh/web-module-project-HTTP.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.3/DAY3/web-module-project-HTTP"]
	path = codeLearn/LS/Unit3-w49/WEB3.3/DAY3/web-module-project-HTTP
	url = git@github.com:sooof/web-module-project-HTTP.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.3/DAY4/web-module-project-deploying-web-apps"]
	path = codeLearn/LS/Unit3-w49/WEB3.3/DAY4/web-module-project-deploying-web-apps
	url = git@github.com:sooof/web-module-project-deploying-web-apps.git
[submodule "codeLearn/LS/Unit3-w49/WEB3.3/DAYSprint/web-sprint-challenge-advanced-web-applications"]
	path = codeLearn/LS/Unit3-w49/WEB3.3/DAYSprint/web-sprint-challenge-advanced-web-applications
	url = git@github.com:sooof/web-sprint-challenge-advanced-web-applications.git
[submodule "codeLearn/LS/Unit4/Web4.1/Day1/webapi-i-challenge"]
	path = codeLearn/LS/Unit4/Web4.1/Day1/webapi-i-challenge
	url = git@github.com:everestsh/webapi-i-challenge.git
[submodule "codeLearn/LS/Unit4/Web4.1/Day1/node-api1-project"]
	path = codeLearn/LS/Unit4/Web4.1/Day1/node-api1-project
	url = git@github.com:sooof/node-api1-project.git
[submodule "codeLearn/LS/Unit4/Web4.1/Day4/webapi-iv-guided"]
	path = codeLearn/LS/Unit4/Web4.1/Day4/webapi-iv-guided
	url = git@github.com:everestsh/webapi-iv-guided.git
[submodule "codeLearn/LS/Unit4/Web4.1/Day4/node-api4-project"]
	path = codeLearn/LS/Unit4/Web4.1/Day4/node-api4-project
	url = git@github.com:sooof/node-api4-project.git
[submodule "codeLearn/LS/Unit4/Web4.1/DaySprint/web-sprint-challenge-build-a-web-api"]
	path = codeLearn/LS/Unit4/Web4.1/DaySprint/web-sprint-challenge-build-a-web-api
	url = git@github.com:sooof/web-sprint-challenge-build-a-web-api.git
[submodule "codeLearn/LS/Unit4/Web4.1/Day3/sooof-011222-U4W41D3-node-api3-project"]
	path = codeLearn/LS/Unit4/Web4.1/Day3/sooof-011222-U4W41D3-node-api3-project
	url = git@github.com:everestsh/sooof-011222-U4W41D3-node-api3-project.git
[submodule "codeLearn/LS/Unit4/Web4.1/Day3/sooof-011222-U4W41D3-node-api3-guided"]
	path = codeLearn/LS/Unit4/Web4.1/Day3/sooof-011222-U4W41D3-node-api3-guided
	url = git@github.com:everestsh/sooof-011222-U4W41D3-node-api3-guided.git
[submodule "codeLearn/LS/Unit3/WEB3.3/Day2/sooof-110921-U3W33D2-web-module-project-client-auth"]
	path = codeLearn/LS/Unit3/WEB3.3/Day2/sooof-110921-U3W33D2-web-module-project-client-auth
	url = git@github.com:everestsh/sooof-110921-U3W33D2-web-module-project-client-auth.git
[submodule "codeLearn/LS/Unit4/Web4.1/Day4/sooof-011322-U4W41D4-node-api4-project"]
	path = codeLearn/LS/Unit4/Web4.1/Day4/sooof-011322-U4W41D4-node-api4-project
	url = git@github.com:everestsh/sooof-011322-U4W41D4-node-api4-project.git
[submodule "codeLearn/LS/Unit4-50/Web4.1/Day4/sooof-021022-U4W41D4-50-webapi-iv-guided"]
	path = codeLearn/LS/Unit4-50/Web4.1/Day4/sooof-021022-U4W41D4-50-webapi-iv-guided
	url = git@github.com:everestsh/sooof-021022-U4W41D4-50-webapi-iv-guided.git
[submodule "codeLearn/LS/Unit4-50/Web4.1/DaySprint/web-sprint-challenge-build-a-web-api"]
	path = codeLearn/LS/Unit4-50/Web4.1/DaySprint/web-sprint-challenge-build-a-web-api
	url = git@github.com:sooof/web-sprint-challenge-build-a-web-api.git
[submodule "codeLearn/LS/Unit3/WEB3.3/Day2/sooof-110921-U3W33D2-web-guided-project-client-auth"]
	path = codeLearn/LS/Unit3/WEB3.3/Day2/sooof-110921-U3W33D2-web-guided-project-client-auth
	url = git@github.com:everestsh/sooof-110921-U3W33D2-web-guided-project-client-auth.git
[submodule "codeLearn/LS/Unit2/WEB2.4/FT-African-Marketplace-2-Group/front-end"]
	path = codeLearn/LS/Unit2/WEB2.4/FT-African-Marketplace-2-Group/front-end
	url = git@github.com:FT-African-Marketplace-2-Group/front-end.git
[submodule "codeLearn/LS/Unit1/WEB1.2/Day1/sooof-090621-U1W12D1-HTML-CSS-Responsive-Practice"]
	path = codeLearn/LS/Unit1/WEB1.2/Day1/sooof-090621-U1W12D1-HTML-CSS-Responsive-Practice
	url = git@github.com:everestsh/sooof-090621-U1W12D1-HTML-CSS-Responsive-Practice.git
[submodule "codeLearn/LS/Unit1/WEB1.2/Day1/sooof-090621-U1W12D1-User-Interface-II"]
	path = codeLearn/LS/Unit1/WEB1.2/Day1/sooof-090621-U1W12D1-User-Interface-II
	url = git@github.com:everestsh/sooof-090621-U1W12D1-User-Interface-II.git
